/* pre_note.css - Informal note styling on the client side
 *
 *   Summoned by the waycaster’s personal configuration program (see manual.task § Installation),
 *   this style sheet runs on the client side — in the waycast reader’s web browser —
 *   where it formats the presentation of informal, way declaration notes.
 *
 *   See manual.task for usage instructions.
 */
@namespace html 'http://www.w3.org/1999/xhtml';


html|pre
{
    margin: 0;
    opacity: 0.5; /* Subdue it */
}



html|pre::first-line /* Where the start tag is declared, and no note is expected */
{
    /* Apparently Firefox excludes the line termination characters from this pseudo-element.
       Therefore the empty first line cannot be collapsed by zeroing the line-height
       or the font-size properties.  Workaround: */
    color: transparent; /* In case it contains text, prevent it obscuring the preceding content */
}
html|pre
{
    margin-top: -1em; /* Lift the content by the font height, which is likely near to the line height,
      and so force the first line out the top of the *pre* box */

    /* Have it slide *beneath* preceding element, not to interfere with element's cursoring */
    position: relative;
    z-index: -1; /* Causes loss of text-specific cursor, an unwanted side effect, but mild enough */
}


/* Copyright © 2017-2018 Michael Allan and contributors.  Licence MIT. */
