/* readable - Way declaration documents that are readable on the web
 *
 *   This renderer does what’s needed in order to present a complete, easily readable copy of a
 *   way declaration document (way.xht) for public viewing.  It aims for a conservative presentation,
 *   true to the appearance of the document in the context of its native waycast. [IWS]
 *
 *   Supported browsers
 *   - - - - - - - - - -
 *   See the list of <a href='http://reluk.ca/project/wayic/read/README.html#browser_support'>
 *   browsers tested</a>.
 *
 *
 * BASIC USAGE
 * -----------
 *   See also § Personalized configuration § Way declaration documents,
 *   http://reluk.ca/project/wayic/cast/doc.task
 *
 *   In your personal style sheet, way.css
 *   - - - - - - - - - - - - - - -
 *   For a working example, see  http://reluk.ca/project/waycast/way.css
 *   Insert this atop your way.css:
 *
 *       @import 'http://reluk.ca/project/wayic/read/readable.css';
 *
 *   Optionally add this:
 *
 *       @import 'http://reluk.ca/project/wayic/read/pre_note.css';
 *
 *   In your personal configuration script, way.js
 *   - - - - - - - - - - - - - - - - - - -
 *   For a working example, see  http://reluk.ca/project/waycast/way.js
 *   Insert the equivalent of this in your way.js:
 *
 *       appendScript( 'http://reluk.ca/project/wayic/read/readable.js' );
 *
 *
 * APPEARANCE
 * ----------
 *   This renderer automatically chooses one of two overall lighting modes for the display: [LM]
 *   either a black-on-white *paper* mode. or a reverse video *neon* mode.  It bases the choice
 *   on what it detects of the browser’s settings, which it takes to be the user’s preference.
 *
 *
 * ANONYMOUS ELEMENT AND PREFIX DECLARATIONS
 * -----------------------------------------
 *   This renderer takes as anonymous any wayscript element in which the local part of the name
 *   is encoded by a single underscore ‘_’.  It renders the element accordingly.  Likewise it gives
 *   an element with a namespace prefix of ‘_’ the same rendering as an element that has no prefix.
 *
 *
 * COMPOSITION LEADER ALIGNMENT
 * ----------------------------
 *   In the source, it may happen that a composer start tag is followed on the same line by text
 *   or HTML content.  For example:
 *
 *       <cog:including>, as it may happen
 *
 *   When the renderer encounters this, it tries to reproduce a similar layout.
 *
 *
 * SECTIONING
 * ----------
 *   This renderer puts vertical margins on HTML *section* elements.  It adds the same margins
 *   to wayscript elements that are *direct children of the body*.  To defeat this automatic margining
 *   for a given group of *body* children, put them together in a single *section* element.
 *
 *
 * TROUBLESHOOTING
 * ---------------
 *   This renderer reports problems it detects to the browser’s debugging console. [CON]
 *
 *   Direct rendering from the local file system
 *   - - - - - - - - - - - - - - - - - - - - - -
 *   When a way declaration document is loaded into the browser on a ‘file’ scheme URL, the renderer
 *   assumes that you are its author.  Then it will open an *alert* window for any problem such as
 *   malformed content, or anything else that an author might be able to remedy.
 *
 *   Cross-file waylinks may fail to resolve under a ‘file’ scheme URL, instead being marked ‘⋯?⋯’.
 *   This affects the quality of rendering, making the way definition harder to view.
 *   (Instructions on dealing with this are given further below.)  What causes this:
 *   when a document is loaded on a ‘file’ scheme URL, the browser grants to JavaScript
 *   only a limited ability to resolve external waylinks, to trace the way across multiple files,
 *   or generally to read other local files. [LLR]
 *
 *   There is a workaround.  Among the browsers supported, this works only for Firefox.  The workaround
 *   is to first load the root way declaration document, or any other document from the base directory
 *   of the waycast.  Then follow the links from there. [WLL]
 *
 *
 * NOTES  (continued at bottom)
 * -----
 */
@namespace html 'http://www.w3.org/1999/xhtml';
@namespace rend 'data:,wayic.read';
@namespace  cog 'data:,wayscript.cog';
@namespace step 'data:,wayscript.bit.step'; /*
              ↗ 'data:,wayscript.bit' covers waybits *simply*.  They have no styling of their own;
                   rather they share the styling of waybits in general. */
@namespace svg 'http://www.w3.org/2000/svg';


*:root
{
    margin: 0; padding: 0; /* See § scene */
    position: relative; /* Establish a containing block for the absolutely positioned *offWayScreen*.
      Normally its parent (the *body* element) would be given this function.  But its better to size
      and position the screen to cover the document as a whole, including any content that happens
      to stick outside of the body. */
}


html|body
{
    display: none; /* Pending layout completion by readable.js */
    margin: 0; padding: 0; /* See § scene */
}


html|body > rend|offWayScreen
{
 /* A semi-opaque screen that extends out to cover the document element.  On-way branches rise clear
    of this screen, distinct from any off-way ancestors that are left behind, still dimmed by it.
    One would rather dim the off-way ancestors with an *opacity* or alpha *filter* property instead,
    except that on-way descendants could not then undo the effect.  Or with semi-opaque colours in
    their foreground properties, except that each distinct colour would then have to be declared twice,
    in off-way and on-way variants, adding a large burden to a style sheet that is already burdened
    by colour variants in its lighting modes.  Hence this technique of screening. */

    background-color: inherit; /* So screening whatever lies beneath */
    pointer-events: none;
    position: absolute;
    left:0; top:0;
    width: 100%;
    height: 100%;
}


*[rend|isOnWayBranch]
{
    position: relative; z-index: 1; /* Raised clear of the *offWayScreen*.
      But if an ancestor is already so raising the branch, then this only raises it
      within the ancestor's stacking context, which should have no visual effect. */
}



/* - - -  neon   - - - - - - - - - - - -
 */
html[rend|lighting='neon'] > html|body
{
               color: hsl( 0, 0%, 80% ); /* BRIGHT_TEXT, yet allowing brighter effects elsewhere */
    background-color: hsl( 0, 0%, 20% ); /* On dark */
}


html[rend|lighting='neon'] > html|body > rend|offWayScreen
{
    opacity: 0.5;
}


/* - - -  paper  - - - - - - - - - - - -
 */
html[rend|lighting='paper'] > html|body
{
               color: hsl( 0, 0%, 7% ); /* DARK_TEXT, yet allowing darker effects elsewhere */
    background-color: hsl( 0, 0%, 93% ); /* On bright white, yet allowing brighter touches elsewhere */
}


html[rend|lighting='paper'] > html|body > rend|offWayScreen
{
    opacity: 0.6;
}



/* ---  a  --  h y p e r l i n k s  --------------------------------------------------------------------
 */

html|a:active
{
    outline: none; /* Defeat any browser default (Firefox).  It looks confusing in composite hyperlinks
      (e.g. a > verticalTruncator).  Also the need of styling for the active state is questionable;
      Chrome has none, and the script activated links have none. */
}


html|a[href]
{
    cursor: url('link_cursor/hyperlink.svg') 13 2 /* HLINK_CURSOR */, pointer; /* [CVU] */
}


rend|a       > html|a
{
    animation-duration: /*flashFade*/3s;
    color: inherit; /* Defeat colour as unecessary and distracting */
    outline-offset: 0.5em;
    text-decoration-color: transparent; /* Redundant but for enabling a *transition* effect */
 /* text-decoration-skip: ink; *//* On one hand, this is already the default in Chrome,
      while it is not recognized at all in Firefox (52.6).  ∴ avoid the console warning in Firefox.
      On the other, the latest standard replaces it with a *text-decoration-skip-ink-property* which is
      enabled by default.  https://www.w3.org/TR/css-text-decor/#text-decoration-skip-ink-property */
}


rend|a       > html|a:not([rend|showsBreadcrumb])
{
    transition-property: text-decoration-color,    z-index;
    transition-duration:                  0.2s,         0s;
    transition-timing-function:       ease-out, step-start;
    transition-delay:                     0.1s,       1.0s; /* Avoid distracting flash on passing */
}


rend|a:hover > html|a,
rend|a       > html|a[rend|showsBreadcrumb]
{
    text-decoration-color: var(--hyperlink-color);
    text-decoration-line: underline; /* [FIB] */
}


rend|a       > html|a,
rend|a       > html|sup
{
    position: relative; /* Enabling *z-index* change on hover */
    z-index: 0; /* So enabling its *transition*, which the default does not */
}
rend|a:hover > html|a,
rend|a       > html|a[rend|showsBreadcrumb],
rend|a:hover > html|sup
{
    z-index: 1; /* Raised clear of the *offWayScreen* */
}


rend|a       > html|sup
{
    color: var(--hyperlink-color);
    line-height: 0.5em; /* Preserve line spacing despite an (implicit) *vertical-align* of 'super' */
}


/* - - -  neon   - - - - - - - - - - - -
 */
html[rend|lighting='neon']
{
    --hyperlink-color: hsl( 190/*∼cyan*/, 100%, 60% );
}


html[rend|lighting='neon'][rend|animatedShow]
rend|a       > html|a[rend|showsBreadcrumb]
{
    animation-name: flashFade_back_bright; /* As a breadcrumb locator */
}


/* - - -  paper  - - - - - - - - - - - -
 */
html[rend|lighting='paper']
{
    --hyperlink-color: hsl( 240/*blue*/, 100%, 50% );
}


html[rend|lighting='paper'][rend|animatedShow]
rend|a       > html|a[rend|showsBreadcrumb]
{
    animation-name: flashFade_back_dark; /* As a breadcrumb locator */
}



/* ---  C o m p o s e r  -------------------------------------------------------------------------------
 */

*[rend|isComposer]
{
    border-radius: 0.5em;
    border-width: 0.1em;
           left: -0.1em; /* Despite the border, maintain a precise text margin for appearance sake */
    margin-left:          -2.5em; /* Meet constraints on COMPOSER_L */
    padding: 0.2em 0.2em 0.2em 2.5em; /* TRBL */
    position: relative;
}


*[rend|isComposer] [rend|isComposer] /* When nested */
{
    margin-right: 0.7em; /* Space between adjacent, vertical border lines to better show the nesting */
}


*[rend|isComposer] > eSTag
{
    font-style: italic;
    opacity: 0.6;
    padding-left: 3em; /* ≥ NEST_INDENT, for any inline composition leader that flows to next line */
    text-indent: -3em; /* But not on the first line, rather maintain its alignment */
}


*[rend|isComposer] > eSTag > eQName > ePrefix
{
    display: none; /* Assume that it's uninformative */
}


*[rend|isComposer] > eSTag > eQName::after
{
    content: ':';
}


/* - - -  neon   - - - - - - - - - - - -
 */
html[rend|lighting='neon'] *[rend|isComposer]
{
    border-color: hsla( 0, 0%, 100%, 0.35 );
    border-style: dashed;
    margin-top: 0.2em !important; /* Accomodate the borders */
    margin-bottom: 0.3em !important;
}


/* - - -  paper  - - - - - - - - - - - -
 */
html[rend|lighting='paper'] *[rend|isComposer]
{
    border-color: hsla( 0, 0%, 0%, 0.25 );
    border-style: solid none none solid; /* TRBL */
    box-shadow: 0.2em 0.3em 0.5em hsla(0,0%,0%,0.55); /* LR TB blur colour */
    margin-top: 0.3em !important; /* Accomodate the shadows */
    margin-bottom: 0.7em !important;
}



/* ---  D e s c r e e n  -------------------------------------------------------------------------------
 */

@keyframes descreen
{
    from { z-index: 1; } /* Raised clear of the *offWayScreen* */
      to { z-index: 1; } /* Holding it there for the duration */
}



/* ---  F l a s h   f a d e  ---------------------------------------------------------------------------
 */

@keyframes flashFade_back_bright
{
    from { outline: thin dotted var(--hyperlink-color); animation-timing-function: linear }
     33% { outline: thin dotted var(--hyperlink-color); animation-timing-function: ease-out }
      to { outline: thin dotted transparent }
}
@keyframes flashFade_back_dark
{
    from { outline: thin solid var(--hyperlink-color); animation-timing-function: linear }
     33% { outline: thin solid var(--hyperlink-color); animation-timing-function: ease-out }
      to { outline: thin solid transparent }
}


@keyframes flashFade_fore_bright
{                                   /*   white   */
    from { outline: medium solid hsl( 0, 0%, 100% ); animation-timing-function: linear }
     33% { outline: medium solid hsl( 0, 0%, 100% ); animation-timing-function: ease-out }
      to { outline: medium solid transparent }
}
@keyframes flashFade_fore_dark
{                                   /*   black  */
    from { outline: medium solid hsl( 0, 0%,  0% ); animation-timing-function: linear }
     33% { outline: medium solid hsl( 0, 0%,  0% ); animation-timing-function: ease-out }
      to { outline: medium solid transparent }
}



/* ---  S c e n e  -------------------------------------------------------------------------------------
 */

rend|scene
{
    display: block;
}


rend|scene#data\:\,wayic\.read\.document_scene
{
    --section-margin: 3em;
    margin: var(--section-margin) auto 5em auto; /* TRBL */
    max-width: 50em;
    padding: 0 0.7em 0 3.4rem; /* TRBL, where L = MIN_CLICK_WIDTH_REM + MIN_GAP_REM + ICON_W,
                                        and the *_REM components are defined in readable.js */
}


rend|scene#data\:\,wayic\.read\.document_scene html|section,
rend|scene#data\:\,wayic\.read\.document_scene > *[rend|isWayscript]
{
    margin-top:    var(--section-margin);
    margin-bottom: var(--section-margin);
}



/* ---  S o u r c e   n o d e   ( w a y l i n k )  -----------------------------------------------------
 */

rend|forelinker > a
{
    color: inherit; /* Defeat colour as unecessary and distracting */
    text-decoration: none; /* Defeat any browser default (Chrome).  It looks confusing
      in this composite hyperlink.  Moreover the *verticalTruncator* component already suffices
      to indicate the presence of the hyperlink. */
}


rend|forelinker > a > preview[class~='singleCharacterContent'] /* [C] */
{
    display: inline-block; /* Enables *min-width* */
    min-width: 2em; /* = VT_PAD_L × 2; enables *text-align* */
    text-align: center; /* Over the left glyph-edge of the *verticalTruncator* */
}


*:not([rend|hasPreviewString]):not([rend|image='absent']):not([rend|hasShortName]) >
rend|forelinker > a > br
{
    display: none; /* It happens that no text content precedes the injected *br* element.
      Therefore let it collapse to nothing.  But not when the source node has a short name;
      then the *br* is wanted to position the *verticalTruncator* below the node's start tag. */
}
*:not([rend|hasPreviewString]):not([rend|image='absent']) >
rend|forelinker > a > verticalTruncator
{
    margin-left: -2em; /* = -NEST_INDENT, leaving only the click padding for indentation */
}


rend|forelinker > a                       > verticalTruncator
{
    padding-left: 1em; /* Extra click surface + indentation beneath overlying preview text; VT_PAD_L */
    padding-right: 4em; /* Extra click surface */
    position: relative; /* Enabling *z-index* change on hover */
}


rend|forelinker > a:hover                 > verticalTruncator,
rend|forelinker > a[rend|showsBreadcrumb] > verticalTruncator
{
    color: var(--hyperlink-color); /* [FIB] */
    opacity: 1 !important;
    z-index: 1; /* Raised clear of the *offWayScreen* */
}


rend|forelinker > a                       > verticalTruncator > span
{
    animation-duration: /*flashFade*/3s;
    outline-offset: 0.3em;
}


/* - - -  target orientation   - - - - -
 */
rend|forelinker/*bitform*/ > a:not([href^='#']), /* With a target reference in interdocument form */
rend|a       /*hyperform*/ > a:not([href^='#'])[cog|link]
{
    cursor: url('link_cursor/waylink_out.svg') 13 2, pointer;
}


rend|forelinker/*bitform*/ > a[href^='#'][rend|targetDirection='up'], /* Intradocument, target above */
rend|a       /*hyperform*/ > a[href^='#'][rend|targetDirection='up'][cog|link]
{
    cursor: url('link_cursor/waylink_in_up.svg') 13 2, pointer;
}
rend|forelinker/*bitform*/ > a[href^='#'][rend|targetDirection='down'], /* Target below */
rend|a       /*hyperform*/ > a[href^='#'][rend|targetDirection='down'][cog|link]
{
    cursor: url('link_cursor/waylink_in_down.svg') 13 2, pointer;
}
rend|forelinker/*bitform*/ > a[href^='#']:not([rend|targetDirection]), /* Target missing */
rend|a       /*hyperform*/ > a[href^='#']:not([rend|targetDirection])[cog|link]
{
    cursor: url('link_cursor/waylink_in.svg') 13 2, pointer;
}


/* - - -  neon   - - - - - - - - - - - -
 */
html[rend|lighting='neon'] *[rend|image]:not(step|*) > eSTag > eQName > eName,
html[rend|lighting='neon'] *[rend|image] > rend|forelinker > a > preview
{
    color: hsl( var(--targetImage-hue), 30%, 50% );
}


html[rend|lighting='neon'] *[cog|link$='/#commitment'] > eSTag > eQName > eName
{
    color: hsl(  36/*orange*/, 100%, 50% );
}


html[rend|lighting='neon'] *[rend|isBroken] > rend|forelinker > a > preview
{
    color: hsl( 0/*red*/, 80%, 80% ); /* BRIGHT_BREAK */
}


html[rend|lighting='neon']
rend|forelinker > a                       > verticalTruncator
{
    opacity: 0.4;
}


html[rend|lighting='neon'][rend|animatedShow]
rend|forelinker > a[rend|showsBreadcrumb] > verticalTruncator > span
{
    animation-name: flashFade_back_bright; /* As a breadcrumb locator */
}


/* - - -  paper  - - - - - - - - - - - -
 */
html[rend|lighting='paper'] *[rend|image] > eSTag > eQName > eName,
html[rend|lighting='paper'] *[rend|image] > rend|forelinker > a > preview
{
    color: hsl( var(--targetImage-hue), 100%, 30% );
}


html[rend|lighting='paper'] *[cog|link$='/#commitment'] > eSTag > eQName > eName
{
    color: hsl(  0/*red*/, 100%, 35% );
}


html[rend|lighting='paper'] *[rend|isBroken] > rend|forelinker > a > preview
{
    color: hsl( 0/*red*/, 100%, 40% ); /* DARK_BREAK */
}


html[rend|lighting='paper']
rend|forelinker > a                       > verticalTruncator
{
    opacity: 0.2;
}


html[rend|lighting='paper'][rend|animatedShow]
rend|forelinker > a[rend|showsBreadcrumb] > verticalTruncator > span
{
    animation-name: flashFade_back_dark; /* As a breadcrumb locator */
}



/* ---  S t a r t   t a g  -----------------------------------------------------------------------------
 */

rend|eSTag
{
    display: block;
    margin-left: -2em; /* -NEST_INDENT, undoing it */
}


rend|eSTag > eQName
{
    animation-duration: /*descreen*/3s, /*flashFade*/2s;
    outline-offset: 0.2em;
    position: relative; /* Enabling *z-index* for the descreening animation */
}


rend|eSTag > eQName[rend|isAnonymous] > eName /* Renders as a mere bullet */
{
    cursor: default; /* Defeat text cursor to avoid flash on passing, which distracts */
}


/* - - -  neon   - - - - - - - - - - - -
 */
html[rend|lighting='neon'][rend|animatedShow][rend|travel]:not([rend|travel^='-']) /* [NBT] */
*:target > rend|eSTag > eQName,
html[rend|lighting='neon'][rend|animatedShow][rend|travel]:not([rend|travel^='-'])
*[rend|isWaylinkTargetable='targeted'] > rend|eSTag > eQName /* [TPC] */
{
    animation-name: descreen, flashFade_fore_bright; /* As a travel target locator */
}


/* - - -  paper  - - - - - - - - - - - -
 */
html[rend|lighting='paper'][rend|animatedShow][rend|travel]:not([rend|travel^='-']) /* [NBT] */
*:target > rend|eSTag > eQName,
html[rend|lighting='paper'][rend|animatedShow][rend|travel]:not([rend|travel^='-'])
*[rend|isWaylinkTargetable='targeted'] > rend|eSTag > eQName /* [TPC] */
{
    animation-name: descreen, flashFade_fore_dark; /* As a travel target locator */
}



/* ---  S t a r t   t a g  --  i n l i n e d  ----------------------------------------------------------
 *
 * These rules render the start tag in line with the leading flow content if it is short enough to allow
 * the flow content to rise alongside yet maintain its horizontal alignment.
 *
 * The inlining is done by floating the start tag which allows the leading flow content to fall in line.
 * If this method ever proves too difficult to maintain owing to the complications of the float layout,
 * then consider switching to the simpler, more direct method of the defunct composer elements [DCE],
 * namely shipping the leading flow content into the start tag.  A drawback would be the loss
 * of uniform left alignment of the first line of flow content from one waybit to another.
 */

*[rend|hasShortName][rend|hasLeader]:not([rend|image='absent'])[rend|isWaybit] > eSTag
{
    float: left; /* Rendering the element's start tag in line with its leading text content */
    margin-right: 0.5em;
}


step|*[rend|hasShortName][rend|hasLeader]:not([rend|image='absent']) > rend|textAligner
{
    display: block;
}


/* - - -  neon   - - - - - - - - - - - -
 */
html[rend|lighting='neon']
step|*[rend|hasShortName][rend|hasLeader]:not([rend|image='absent']) > rend|textAligner
{
    padding-top: 0.30em; /* = NEO_ST_MARG_T + ST_PAD_T */
}


/* - - -  paper  - - - - - - - - - - - -
 */
html[rend|lighting='paper']
step|*[rend|hasShortName][rend|hasLeader]:not([rend|image='absent']) > rend|textAligner
{
    padding-top: 0.28em; /* = PAP_ST_MARG_T + ST_PAD_T + ST_BOR */
}



/* ---  S t e p  ---------------------------------------------------------------------------------------
 */

step|* > eSTag > eQName
{
    border-radius: 0.15em / 15%; /* H / V */
    padding: 0.10em   0.20em   0.15em   0.25em; /* TRBL.  TB do not affect layout ∵ eName is inline,  */
}        /* -------- -------- --------    yet they do cause overlapping, ∴ still need ST_PAD constraints
            ST_PAD_T ST_PAD_L ST_PAD_B */

step|* > eSTag > eQName > ePrefix,
step|* > eSTag > eQName:not([rend|isAnonymous]) > eName /* Not when isAnonymous ∵ then */
{                                                       /* it renders as a mere bullet */
    font-weight: bold;
}


step|* > eSTag > eQName > ePrefix[rend|isAnonymous],
step|* > eSTag > eQName:not([rend|isAnonymous]) > ePrefix
{
    display: none; /* Let the local part stand alone */
}


step|* > eSTag > eQName[rend|isAnonymous] > ePrefix:not([rend|isAnonymous]) + eName
{
    display: none; /* Let the prefix stand alone */
}


/* - - -  neon   - - - - - - - - - - - -
 */
html[rend|lighting='neon'] step|* > eSTag
{
     margin-top:    0.20em; /* NEO_ST_MARG_T */
    padding-top:    0.10em; /* = ST_PAD_T */
    padding-bottom: 0.15em; /* = ST_PAD_B */
     margin-bottom: 0.20em;
}


html[rend|lighting='neon'] step|*             > eSTag > eQName
{
               color: hsl(  0, 0%,   0% );
    background-color: hsla( 0, 0%, 100%, 0.45 );
    margin-left: -0.20em; /* = -ST_PAD_L */
}
html[rend|lighting='neon'] step|*[rend|image] > eSTag > eQName
{
    background-color: hsla( var(--targetImage-hue), 100%, 60%, 0.45 );;
}


/* - - -  paper  - - - - - - - - - - - -
 */
html[rend|lighting='paper'] step|* > eSTag
{
     margin-top:    0.10em; /* PAP_ST_MARG_T */
    padding-top:    0.18em; /* = ST_PAD_T + ST_BOR */
    padding-bottom: 0.23em; /* = ST_PAD_B + ST_BOR */
     margin-bottom: 0.10em;
}


html[rend|lighting='paper'] step|* > eSTag > eQName
{
    /* prominence for the steps, making them stand out at a glance from the other waybits */
    background-color: hsla( 0, 0%, 100%, 0.40 );
        border-color: hsla( 0, 0%,   0%, 0.80 );
        border-style: solid;
        border-width: 0.08em; /* ST_BOR */
    margin-left: -0.28em; /* = -(ST_PAD_L + ST_BOR), to maintain precise text alignment */
}



/* ---  T a r g e t   n o d e   ( w a y l i n k )  -----------------------------------------------------
 */

[rend|isWaylinkTargetable] > eSTag
{
    position: relative; /* Establish containing block for absolutely positioned children */
}


[rend|isWaylinkTargetable] > eSTag > /*marginalis*/div
{
    position: absolute; top: 0; /* Further placement deferred to readable.js */
    visibility: hidden; /* Avoiding FOUC.  readable.js reverts this after laying out the content.
      But the layout depends on the size of the icon child, therefore do not use display 'none' here. */
}


[rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > /*liner*/svg
{
    position: absolute; top: 0; left: 0; /* [HSP] Sizing deferred to readable.js */
}


[rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > /*liner*/svg > /*edge mark*/circle
{
    fill: currentColor;
}


[rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > /*liner*/svg > /*line*/path
{
    opacity: 0.5;
    stroke: currentColor;
}


[rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > icon
{
    position: absolute;
    top: 0; right: 0;
    width: 2.0rem; /* ICON_W.  It determines the visual gap between the left-aligned content
      of the icon and that of the tag name to its right. */
}


[rend|isWaybit]
[rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > icon /* When it's an underbit */
{
    width: 3.5em; /* Wider to better separate from overbit content */
}


[rend|isWaybit] [rend|isComposer] >
[rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > icon /* When also it's a topmost component */
{
    width: 2.0em; /* ∴ COMPOSER_L ≥ 2.0em; no wider, as there's no direct overbit content */
}


[rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > icon::before
{
    content: '\1f78b'; /* Unicode 1f78b (round target) */
}
[rend|isWaylinkTargetable][rend|isOrphan] > eSTag > /*marginalis*/div > icon::before
{
    content: '│'; /* '│' is Unicode 2502 (box drawings light vertical) */
}


/* - - -  neon   - - - - - - - - - - - -
 */
html[rend|lighting='neon'] [rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > /*liner*/svg
{
    opacity: 0.50;
}
html[rend|lighting='neon'] [rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > icon
{
    opacity: 0.25;
}


html[rend|lighting='neon'] [rend|isWaylinkTargetable][rend|isOrphan] >
eSTag > /*marginalis*/div /*edge mark*/circle
{
    fill:   hsl( 0, 80%, 80% ); /* = BRIGHT_BREAK */
}
html[rend|lighting='neon'] [rend|isWaylinkTargetable][rend|isOrphan] >
eSTag > /*marginalis*/div /*line*/path
{
    stroke: hsl( 0, 80%, 80% );
}
html[rend|lighting='neon'] [rend|isWaylinkTargetable][rend|isOrphan] >
eSTag > /*marginalis*/div > icon
{
    color:  hsl( 0, 80%, 80% );
}


/* - - -  paper  - - - - - - - - - - - -
 */
html[rend|lighting='paper'] [rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > /*liner*/svg
{
    opacity: 0.30;
}
html[rend|lighting='paper'] [rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > icon
{
    opacity: 0.15;
}


html[rend|lighting='paper'] [rend|isWaylinkTargetable][rend|isOrphan] >
eSTag > /*marginalis*/div /*edge mark*/circle
{
    fill:   hsl( 0, 100%, 40% ); /* = DARK_BREAK */
}
html[rend|lighting='paper'] [rend|isWaylinkTargetable][rend|isOrphan] >
eSTag > /*marginalis*/div /*line*/path
{
    stroke: hsl( 0, 100%, 40% );
}
html[rend|lighting='paper'] [rend|isWaylinkTargetable][rend|isOrphan] >
eSTag > /*marginalis*/div > icon
{
    color:  hsl( 0, 100%, 40% );
}



/* ---  T a r g e t   n o d e   ( w a y l i n k )  --  s e l f - h y p e r l i n k i n g  --------------
 */

[rend|isWaylinkTargetable] > eSTag > /*marginalis*/div > icon,
[rend|isWaylinkTargetable] > eSTag > eQName
{
    cursor: url('link_cursor/hyperlink.svg') 13 2 /* = HLINK_CURSOR */, pointer; /* [CVU]
      Has click function, as per readable.js TargetControl handleClick. */
}


[rend|isWaylinkTargetable] > eSTag > eQName
{
    position: relative; /* Enabling *z-index* change on hover */
    transition-property:           z-index;
    transition-duration:                0s;
    transition-timing-function: step-start;
    transition-delay:                 0.6s; /* Avoid distracting flash on passing */
    z-index: 0; /* So enabling its *transition*, which the default does not */
}


[rend|isWaylinkTargetable] > eSTag > eQName:hover,
[rend|isWaylinkTargetable] > eSTag > eQName[id='wayic.read.TargetControl.iconHover'], /* In lieu of form
                                         "… icon:hover ~ eQName", which cannot work as intended [GSC] */
[rend|isWaylinkTargetable] > eSTag:hover > /*marginalis*/div > icon
{
    z-index: 1; /* Raised clear of the *offWayScreen* */
}


[rend|isWaylinkTargetable]:target     > eSTag > /*marg.*/div > /*liner*/svg > /*line*/path,
[rend|isWaylinkTargetable='targeted'] > eSTag > /*marg.*/div > /*liner*/svg > /*line*/path, /* [TPC] */
[rend|isWaylinkTargetable]:target     > eSTag > /*marg.*/div > icon,
[rend|isWaylinkTargetable='targeted'] > eSTag > /*marg.*/div > icon /* [TPC] */
{
    opacity: 1 !important;
}


/* - - -  neon   - - - - - - - - - - - -
 */
html[rend|lighting='neon'] [rend|isWaylinkTargetable] > eSTag:hover > /*marginalis*/div > icon
{
    opacity: 0.7;
}


/* - - -  paper  - - - - - - - - - - - -
 */
html[rend|lighting='paper'] [rend|isWaylinkTargetable] > eSTag:hover > /*marginalis*/div > icon
{
    opacity: 0.5;
}



/* ---  t e x t - A l i g n e r  -----------------------------------------------------------------------
 */

rend|textAligner
{
    display: none;
}



/* ---  W a y b i t  -----------------------------------------------------------------------------------
 */

*[rend|isWaybit]
{
    margin-left: 2em; /* NEST_INDENT to render the nesting of waybit dependents */
    --targetImage-hue: 44/*reddish brown*/;
}



/* ---  W a y b i t  --  n o n - s t e p  --------------------------------------------------------------
 */

*[rend|isWaybit]:not(step|*) > eSTag
eQName > ePrefix
{
    display: none; /* Assume that it is uninformative */
}


*[rend|isWaybit]:not(step|*) > eSTag
eQName:not([rend|isAnonymous]) > eName /* Not when isAnonymous ∵ then it renders as a mere bullet */
{
    filter: contrast(1.4);
    font-weight: bold;
}



/* ---  W a y s c r i p t  -----------------------------------------------------------------------------
 */

*[rend|isWayscript]
{
    clear: left;
    display: block; /* Changing the wayscript *display* property?  sync'd → readable.js layoutBlock. */
    margin-top:    0.1em;
    margin-bottom: 0.1em;
}



/* NOTES
 * -----
 *  [C]  · Class selectors.  These fail for NS_REND elements under Chrome (59).  Instead select
 *         the class of NS_REND element using the general attribute selector [class~='CLASS'].
 *
 *  [DCE]  Defunct composer elements.  http://reluk.ca/project/wayic/read/composer/
 *
 *  [CON]  Console.  https://console.spec.whatwg.org/
 *
 *  [CVU]  Cursor variables with URL values.  Unable to use a CSS variable here because Chrome (59)
 *         wrongly resolves the relative URL against the document rather than the style sheet.
 *
 *  [GSC]  General sibling combinator.  Really there is none.  The combinator that CSS misnames a
 *         “general sibling combinator” is really rather particular in its application, in that it
 *         can only combine siblings in document order.  It cannot express a combination like this:
 *
 *           parent > subsequentSibling ~ priorSibling
 *
 *         https://www.w3.org/TR/css3-selectors/#general-sibling-combinators
 *
 *  [HSP]  HTML-embedded styling property.  The SVG standard appears to grant the *svg* element
 *         no such styling property.  Nevertheless the browsers are obeying it,
 *         at least when the *svg* element is embedded in HTML.
 *         https://www.w3.org/TR/SVG11/struct.html#SVGElement
 *         https://www.w3.org/TR/SVG11/styling.html#SVGStylingProperties
 *         http://w3c.github.io/html/semantics-embedded-content.html#svg
 *
 *  [IWS]  Informed by the waycast structure, affording it maximal exposure and influence.
 *         http://reluk.ca/project/wayic/architecture/doc.task § wayic architecture = waycast form
 *
 *  [LLR]  Local loading and remote waylinks.  Regardless of the *local load* scheme, the browser
 *         is unlikely to limit access to *remotely linked* targets (once that kind of targeting
 *         is supported by this renderer, viz. a full URI with a proper web scheme, such as ‘http’).
 *         Such a target would be served with a response header of ‘Access-Control-Allow-Origin: *’,
 *         which would then be the standard for all waycast service
 *         (cf. http://reluk.ca/project/wayic/lex/#web_serving).
 *         Of course, that won’t help for any *local links* that remain.
 *
 *  [NBT]  Not on back travel, as then user orientation is better served by the breadcrumb alone.
 *         Here the selector [rend|travel] combines with :not([rend|travel^='-']) to transform
 *         its negative test to a positive one.  This prevents premature firing of the rule
 *         immediately after back travel while the *travel* attribute is yet unset.
 *
 *  [TPC]  Target pseudo-class failure.  Here adding selector [rend|isWaylinkTargetable='targeted']
 *         only because [rend|isWaylinkTargetable]:target was seen to fail on Chrome 65.0.
 *         It failed during relatively fast (∼1 s interval) back-and-forth travel.
 *         Otherwise attribute *isWaylinkTargetable* would have only a boolean value [readable.js BA].
 *
 *  [WLL]  Workaround for local loading.  It fails for Chrome.  Chrome (59) rejects all local
 *         read requests, logging the reason in the console as “Cross origin requests are
 *         only supported for protocol schemes: http, data, chrome, chrome-extension, https.”
 *         Firefox (52) is more lenient.  It at least forwards the in-branch requests, viz. where
 *         “the parent directory of the originating file is an ancestor directory of the target file.”
 *         https://developer.mozilla.org/en-US/docs/Same-origin_policy_for_file%3a_URIs
 */


/* Copyright © 2017-2018 Michael Allan and contributors.  Licence MIT. */
